  
/* ESTILOS EN GENERAL */





body{
    background-image: url(../imagenes/fondo-web5.jpg); 
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-left: 20%;
    margin-right: 20%;
    font-family: sans-serif;

}

@media screen and (max-width: 768px) {
    body{
       background: #000;
       margin: 0%;
   }
}


.fondo_central {
   background-image: url(../imagenes/fondo-web6.jpg);  
   background-position: center;
   background-size: cover;
   background-attachment: fixed;;
}


.cabecera {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: rgba(0,0,0,0.8); 

}  

.item_cabecera1{
    padding: 25px;
}

.item_cabecera2{
    margin-top: 40px;
    line-height: 8px;
    font-size: 14px;
    color: #ffcb39;
}

.item_cabecera3{
    margin-top: 40px;
    margin-right: : 20px;
    line-height: 18px;
    font-size: 12px;
    color: #fff;
}

p {
      color: #fff;
}


a {
  color: #fff;
}

.img_cabecera{
    width: 100px;
    padding: 5px;
    border: 2px solid #fff;
    border-radius: 50%;
} 


@media screen and (max-width: 768px) {

    .cabecera {

        display: grid;
        grid-template-columns: 1fr;
    }  

    .item_cabecera1{
        text-align: center;
    }

    .item_cabecera2{
      text-align: center;
      margin-top: 0px;
  }

  .item_cabecera3{
    margin-top: 20px;
    margin-bottom:20px;
    text-align: center;
}

}

/* Aqui ya no pongo @media screen and (max-width: 480px) porque para el movil quiero la misma configuracion y temaños */

.formacion {

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2px;
}   

.elementos_left {
    font-size: 12px;
    color: #fff;
    width:100px;
    height: 15px;
    text-align:center;
    margin:30px 20px 0px 20px;
    background: rgba(0,0,0,0.8);
    padding:10px 10px 10px 10px;
    border-radius: 5px;

}

.elementos_right {
 margin:20px 20px 0px 20px;
 font-size: 12px;

}

@media screen and (max-width: 768px) {

    .formacion {

        display: grid;
        grid-template-columns: 1fr;

    }  

    .elementos_left {
        text-align: center !important;

    }

}

.sombreado {
    color: #fff;
    background: rgba(0,0,0,0.8);    
    padding:10px 10px 10px 10px;
    border: 1px solid #000;
    border-radius: 0px;
    line-height: 18px;

}

.sombreado:hover {

    color: #ffcb39;
    background: rgba(0,0,0,0.9);      
    -ms-transform: scale(1.1) translateX(-10px) translateY(-5px); /* IE 9 */
    -webkit-transform: scale(1.1) translateX(-10px) translateY(-5px); /* Safari 3-8 */
    transform: scale(1.05) translateX(-8px) translateY(-5px); 
    transition-duration: 0.5s;
    border: 1px solid #ffcb39;
    border-radius: 10px;
}

.fecha {
    width: 80px;
    color: #fff;
    text-align: center;
    background: rgba(0,0,0,0.6);
    margin: 0px;
    padding: 6px; 
    font-size: 14px;
    border: 1px solid #fff;
    
}

.portfolio {

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2px;
    text-align: center;
    
}   

.centrado {
    text-align: center;
}


.img_portfolio {
    width:100px;
    height:100px;
    padding: 0px 5px 0px 5px;
}

.img_portfolio:hover {
    transform: rotate(5deg) scale(1.05) translateY(-10px);
    border-radius: 15px;
    transition-duration: 0.5s;
}




.habilidades {

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2px;
}   

@media screen and (max-width: 768px) {

    .habilidades {

        display: grid;
        grid-template-columns: 1fr;
    }  

    .elementos_left {
        text-align: center !important;

    }
}

.barra_arriba {
    text-align: center;
    color:#fff;         
    padding: 10px;
    background: rgba(0,0,0,0.9); 
    transition: 3s;
    border: 1px solid #000;
    border-radius: 20px;
}

.barra_arriba:hover {

    font-size: 16px;
    background: rgba(0,0,0,0.8);   
    color: #ffcb39;         
}


.contacto {

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2px;

}   

@media screen and (max-width: 768px) {

    .contacto {

        display: grid;
        grid-template-columns: 1fr;


    }  

}

.formulario {
    padding-left: 0;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 80px;
    height: 330px;
    

}


@media screen and (max-width: 768px) {
    .contenido_contacto {
        flex-direction: column;
        align-items: center;
    }
    .item_contacto1 {
        order: 1;
        text-align: center;  


    }

    .item_contacto2 {
        order: 2;
        text-align: center;
        width:500px;


    }

    .formulario {
        padding-left: 0;
        display: grid;
        grid-gap: 2px;
        grid-template-columns: 1fr;
        grid-auto-rows: 80px;
        height: 530px;
    }
}




.social {
    text-align: center;
}



/* FORMULARIO DE CONTACTO */

form {
    font-size: 12px;
    color: #000;

}

.centrado_form{
    color: #fff;
    border: 1px solid #666666;
    padding: 20px;
    background: rgba(0,0,0,0.9);

}

.boton_submit {
    width: 150px;
    background: #111;
    color: #fff;
    padding: 15px;
    border: 1px solid #000;
}


.boton_submit:hover {
    background: green;
    color: #fff;
    border: 1px solid #000;
}







}



